#main {
  max-width: 500px;
}

.container {
  border-radius: 20px;
  box-shadow: 0px 0px 20px 3px rgb(255,255,255);
  padding: 15px;
}

#cover_image {
  width: 100%;
  background: url("../../assets/img/Apple_announce-iphone12pro_10132020_big.jpg.large.jpg") center / cover no-repeat, rgb(0,163,255);
  padding: 0px;
  height: 200px;
  border-radius: 15px;
}

#profile_picture {
  background: url("../../assets/img/e9b5ac48-4c60-4403-9d5b-ab5c355fc5a3.jpg") center / cover no-repeat;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

#name {
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 50px;
  line-height: 45px;
  margin-top: 5px;
}

#status {
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: -3px;
}
#contact_details {
  display: flex;
  justify-content: center;
  align-items: center;
}
